.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 10px;
  padding: 2.5rem
} 

.menu-item {
  border: 3px solid rgb(208, 215, 211);
  padding: 1rem;
  border-radius:8px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item:hover {
  border: 3px solid rgb(11, 111, 56);
  background-color: rgb(226, 235, 224);
}

.menu-item.selected {
  border: 3px solid rgb(11, 111, 56);
  background-color: rgb(226, 235, 224);
}

.menu-item img {
  display: block;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius: 8px;
}

.qty-input {
  margin-top: 4px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
}

h2 {
    text-align: center;
}

.page-layout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.menu-section {
  flex: 3;
}

.side-bar {
  flex: 1;
  height: 90vh;
  position:sticky;
  top: 1rem;
  border: 2px solid rgb(11, 111, 56);
  border-radius: 8px;
  padding: 1rem;
  background-color: rgb(226, 235, 224);
  overflow-y: auto;
  min-width: 200px;
  max-width: 300px;
}

.page-layout {
  display: flex;
  gap: var(--gap-size);
}


.live-order ul {
  list-style-type: none;
  padding-left: 0;
}

.live-order li {
  margin: 0.3rem 0;
}

fieldset {
  margin-right: 2.4rem;
}

legend {
  font-weight: bold;
  font-size: 1em;
}

input[type="text"] {
  width: 90%;
}

input[type="number"] {
  width: 50px;
}

h2.Live {
  border-bottom: 2px solid rgb(11, 111, 56);; 
}

h2.Order, h2.Receipt, h2.Live {
  font-size: 1.4em;
  text-align: left;
}

input[type="submit"], input[type="button"]{
  margin-bottom: 0.5em;
}

